<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.david_wille.bibtexconsistencychecker.BCCLaunchShortCut"
            icon="icons/bcc_icon32.png"
            id="de.david_wille.bibtexconsistencychecker.BCCLaunchShortCut"
            label="BibTeX Consistency Checker"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
