<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.david_wille.de/bibtexconsistencychecker/consistencyrule/BCCConsistencyRule"
			class = "de.david_wille.bibtexconsistencychecker.consistencyrule.bCCConsistencyRule.BCCConsistencyRulePackage"
			genModel = "model/generated/BCCConsistencyRule.genmodel" />
	</extension>
</plugin>
