<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.david-wille.de/bibtexconsistencychecker/bibtex/BCCBibTeX"
			class = "de.david_wille.bibtexconsistencychecker.bibtex.bCCBibTeX.BCCBibTeXPackage"
			genModel = "model/generated/BCCBibTeX.genmodel" />
	</extension>
</plugin>
