<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.david-wille.de/bibtexconsistencychecker/executionmodel/BCCExecutionModel"
			class = "de.david_wille.bibtexconsistencychecker.executionmodel.bCCExecutionModel.BCCExecutionModelPackage"
			genModel = "model/generated/BCCExecutionModel.genmodel" />
	</extension>
</plugin>
